name: Deploy Frontend

on:
  push:
    branches: [ "master" ]
    paths:
      - 'ExamPiShotBrowser/**'

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: pishot
        package: ./ExamPiShotBrowser
